<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5"
    >
	<display-name>testnm</display-name>

	<servlet>
		<servlet-name>demo</servlet-name>
		<servlet-class>testnm.ServletDemo1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>demo</servlet-name>
		<url-pattern>/options</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>testnm.PageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
